remify(font-size, base-font-size = citrine-base-font-size)
  return (font-size / base-font-size) rem

rhythm(number, font-size, correction = 0)
  return ((number * ((font-size/citrine-base-font-size) * citrine-base-line-height))/2) + (correction/citrine-base-font-size) rem

ms(factor, ratio = citrine-ratio)
  result = citrine-base-font-size

  if factor > 0
    for num in (1..factor)
      result = result * ratio

    return result
  else if factor < 0
    for num in (factor..-1)
      result = result / ratio

    return result

  return result
