remify(font-size, base-font-size = citrine-base-font-size)
  return (font-size / base-font-size) rem

rhythm(number, font-size, correction = 0)
  return ((number * ((font-size/citrine-base-font-size) * citrine-base-line-height))/2) + (correction/citrine-base-font-size) rem
