@import 'citrine'

citrine-base-font-size = 16
citrine-base-line-height = 1.5
citrine-ratio = major-third
citrine-presets()

html
  font-family 'Raleway', sans-serif

header
  background #109933
  color white
  text-align center

footer
  background #109933
  color white
  position fixed
  bottom 0
  left 0
  width 100%
